.container {
  width: 400px;
}

.h2 {
  font-family: var(--font-poppins);
  font-size: 1.9rem;
  font-weight: 600;
  margin: 0.4rem 0.4rem;
}

.h3 {
  font-family: var(--font-poppins);
  font-weight: 400;
  color: #58b2d6;
  font-size: 1.9rem;
}
.progress {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 10px;
  border-radius: 2px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-designing .progress-bar {
  width: 80%;
  background-color: #34a1cd;
  animation: progressDesigning 3s;
}

@keyframes progressDesigning {
  0% {
    width: 5%;
    background-color: #99d7f0;
  }
  100% {
    width: 80%;
    background-color: #34a1cd;
  }
}

.progress-frontend .progress-bar {
  width: 70%;
  background-color: #34a1cd;
  animation: progressFrontend 3s;
}
@keyframes progressFrontend {
  0% {
    width: 5%;
    background-color: #99d7f0;
  }
  100% {
    width: 70%;
    background-color: #34a1cd;
  }
}

.progress-javascript .progress-bar {
  width: 70%;
  background-color: #34a1cd;
  animation: progressJavascript 3s;
}
@keyframes progressJavascript {
  0% {
    width: 5%;
    background-color: #99d7f0;
  }
  100% {
    width: 70%;
    background-color: #34a1cd;
  }
}

.progress-typescript .progress-bar {
  width: 65%;
  background-color: #34a1cd;
  animation: progressTypescript 3s;
}
@keyframes progressTypescript {
  0% {
    width: 5%;
    background-color: #99d7f0;
  }
  100% {
    width: 65%;
    background-color: #34a1cd;
  }
}

.progress-reactjs .progress-bar {
  width: 70%;
  background-color: #34a1cd;
  animation: progressReactjs 3s;
}
@keyframes progressReactjs {
  0% {
    width: 5%;
    background-color: #99d7f0;
  }
  100% {
    width: 70%;
    background-color: #34a1cd;
  }
}

.progress-nextjs .progress-bar {
  width: 65%;
  background-color: #34a1cd;
  animation: progressNextjs 3s;
}
@keyframes progressNextjs {
  0% {
    width: 5%;
    background-color: #99d7f0;
  }
  100% {
    width: 65%;
    background-color: #34a1cd;
  }
}

.progress-nodejs .progress-bar {
  width: 50%;
  background-color: #34a1cd;
  animation: progressNodejs 3s;
}
@keyframes progressNodejs {
  0% {
    width: 5%;
    background-color: #99d7f0;
  }
  100% {
    width: 50%;
    background-color: #34a1cd;
  }
}
.progress-expressjs .progress-bar {
  width: 50%;
  background-color: #34a1cd;
  animation: progressExpressjs 3s;
}
@keyframes progressExpressjs {
  0% {
    width: 5%;
    background-color: #99d7f0;
  }
  100% {
    width: 50%;
    background-color: #34a1cd;
  }
}

.progress-mongodb .progress-bar {
  width: 70%;
  background-color: #34a1cd;
  animation: progressMongodb 3s;
}
@keyframes progressMongodb {
  0% {
    width: 5%;
    background-color: #99d7f0;
  }
  100% {
    width: 70%;
    background-color: #34a1cd;
  }
}

.progress-reactnative .progress-bar {
  width: 50%;
  background-color: #34a1cd;
  animation: progressMobile 3s;
}
@keyframes progressMobile {
  0% {
    width: 5%;
    background-color: #99d7f0;
  }
  100% {
    width: 50%;
    background-color: #34a1cd;
  }
}
