.mainDiv {
  background-image: url("../../assets/portfoliobg.jpg");
  background-position: top right;
  background-size: 75%;
  background-repeat: no-repeat;
  height: 100vh;
}

.worksDiv li {
  font-family: var(--font-karla);
  cursor: pointer;
}
.worksDiv li:hover,
.worksDiv li:active {
  color: #34a1cd;
  transition: 0.3s ease;
}
